.pojectCard{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 300px;
    margin: 20px;
   
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
.detailscard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 20px;

}
.imgage{
    height: auto;
    width: 50%;
    border-top-right-radius:25px;
    border-bottom-right-radius: 25px;
}
.project_bu{
    width: 100px;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;

}